
.content{
  background: #bbb;
  width: 100%;
  min-height: 600px;
}


.box{
  background: #F00;
  height: 300px;
  margin-bottom: 10px;
}

.box-lg{
  height: 400px;
}

nav{
  background: #333;
}

.h-400{
  height: 650px;
}


.carousel-inner{
  height: 100% !important;
}

.img-slider{
  min-width: 100% !important;
}
